<!DOCTYPE html>

<html>

<head>

	<title>Distributed Raytracing Demo</title>
	<script src="../js/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"/>
	<script src="../js/bootstrap.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../css/slider.css"/>
	<script src="../js/bootstrap-slider.js"></script>
</head>

<body>
	<div style="margin:0 auto; text-align:center; width:410px; overflow: hidden;">
		<div style="margin:20px;">
			<a class="btn btn-primary" id="btnStartRender" >Render with C++</a>
		</div>
			
		<div class="slider slider-horizontal" style="width: 140px;">
			
		</div>	
			
		<div class="panel panel-default" style="float:left;">
			<canvas id="RTCanvas" width="400" height="400" style="border:1px solid #000000; float:left;"/>
		</div>
	<div>
	
	
	<script src="/socket.io/socket.io.js"></script>
	<script src="../js/networking.js"></script>
	
</body>

</html>